<!-- find me in partials/data_tables_custom -->
<div class="action-nav-normal action-nav-line">

	<div class="row action-nav-row">
		<div class="col-sm-2 action-nav-button">
			<a href="#/departamento/0/0" title="Nova Empresa"> <i
				class="fa fa-building-o"></i> <span>Novo Departamento</span>
			</a> <span class="triangle-button red"><i class="icon-plus"></i></span>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<span class="title">Departamentos</span>
			</div>
			<div class="box-content">
				<table ng-table="departamentoTableParams"
					template-pagination="custom/departamento"
					class="dTable responsive dataTable">
					<thead>
						<tr>
							<th colspan="5">
								<div class="table-header">
									<!-- 									<div class="dataTables_filter" id="DataTables_Table_0_filter"> -->
									<!-- 										<label>Search: <input type="text" -->
									<!-- 											aria-controls="DataTables_Table_0"></label> -->
									<!-- 									</div> -->
									<div id="DataTables_Table_0_length" class="dataTables_length">
										<label>Mostrar
											<div class="selector fixedWidth">
												<span style="-webkit-user-select: none;">{{pageSize}}</span>
												<select size="1" name="DataTables_Table_0_length"
													ng-model="pageSize" ng-options="n for n in pageTemplate"
													ng-change="empresasTableParams.count(pageSize)">
												</select>
											</div> Empresas
										</label>
									</div>
								</div>
							</th>
						</tr>
						<tr>
							<th class="sortable"
								ng-class="{
                    'sort-asc': departamentoTableParams.isSortBy('cnpjCei', 'asc'),
                    'sort-desc': departamentoTableParams.isSortBy('cnpjCei', 'desc')
                  }"
								ng-click="departamentoTableParams.sorting({'name' : departamentoTableParams.isSortBy('cnpjCei', 'asc') && 'desc' || 'asc'})">
								<div>
									<i class="glyphicon glyphicon-user"></i> Nome
								</div>
							</th>
							<th class="text-center">Descri&ccedil;&atilde;o</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="departamento in $data"
							ng-class="$index%2==0 && 'odd' || 'even'">
							<td data-title="'Nome'">{{departamento.nome}}</td>
							<td data-title="'Descri&ccedil;&atilde;o'">{{departamento.descricao}}</td>
							<td data-title="''"><div class="btn-group">
									<button class="btn btn-xs btn-default dropdown-toggle"
										data-toggle="dropdown">
										<i class="icon-cog"></i>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#/empresa/1/{{departamento.nome}}">Visualizar</a></li>
										<li><a href="#/empresa/2/{{departamento.nome}}">Editar</a></li>
										<li><a href="#/empresa/3/{{departamento.nome}}">Excluir</a></li>
									</ul>
								</div></td>
						</tr>
					</tbody>
				</table>
				<!-- type="text/ng-template" id="custom/pager" -->
				<script type="text/ng-template" id="custom/pager">
				<div class="table-footer">
					<div class="dataTables_info" id="DataTables_Table_0_info">{{params.count() > params.total() && params.total() || params.count()}} de {{params.total()}}</div>
					<div class="dataTables_paginate paging_full_numbers"
						id="DataTables_Table_0_paginate">
						<a tabindex="0" 
							class="first paginate_button"
							ng-click="params.page(1)"
							ng-class="{'paginate_button_disabled': params.page() <= 1}"
							id="DataTables_Table_0_first">First</a>
						<a tabindex="0"
							class="previous paginate_button" ng-click="params.page(params.page() - 1)"
							ng-class="{'paginate_button_disabled': params.page() <= 1}"
							id="DataTables_Table_0_previous">Previous</a>
						<span ng-repeat="i in [1,params.pageCount] |makeRange">
							<a type="button" ng-class="{'paginate_active':i == params.page()}"  
										ng-click="params.page(i)" class="paginate_button">{{i}}</a>
						</span>
							<a tabindex="0" ng-class="{'paginate_button_disabled': params.page() >=  params.pageCount}" ng-click="params.page(params.page() + 1)"
								class="next paginate_button" id="DataTables_Table_0_next">Next</a>
							<a
							tabindex="0" class="last paginate_button" ng-class="{'paginate_button_disabled':params.page() >=  params.pageCount}" ng-click="params.page(params.pageCount)"
							id="DataTables_Table_0_last">Last</a>
						
					</div>
				</div>
			</script>

			</div>
		</div>
	</div>
</div>
