<!-- find me in partials/data_tables_custom -->
<div class="row">
	<div class="col-md-12">
		<div class="box-header">
			<span class="title">Funcion&aacute;rios</span>
		</div>
		<div class="box-content">
			<div class="box">
				<div id="fun_dep" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title">Departamentos</h4>
							</div>
							<div class="modal-body nopadding">
								<departamento-table departamento="funcionario.departamento" />
							</div>
						</div>
					</div>
				</div>
				<form class="form-horizontal fill-up validatable">
					<div class="padded">
						<div class="form-group">
							<label class="control-label col-lg-2">Departamento</label>
							<div class="col-lg-10">
								<a modal-shower modal-id="fun_dep" class="btn btn-green">Departamento:
								</a> <span class="alert alert-info"
									ng-show="funcionario.departamento">{{funcionario.departamento.id}}
									- {{funcionario.departamento.nome}}</span>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Nome</label>
							<div class="col-lg-10">
								<input type="text" class="validate[required]"
									data-prompt-position="topLeft" ng-model="funcionario.nome" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">CPF</label>
							<div class="col-lg-10">
								<input type="text" class="validate[required]"
									ui-mask="999.999.999-99" data-prompt-position="topLeft"
									ng-model="funcionario.cpf" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Dt. Nascimento</label>
							<div class="col-lg-4">
								<input type="date" class="validate[required]"
									data-prompt-position="topLeft"
									ng-model="funcionario.dataNascimento" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Email</label>
							<div class="col-lg-4">
								<input type="email" class="validate[required]"
									data-prompt-position="topLeft"
									ng-model="funcionario.credencial.email" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Login</label>
							<div class="col-lg-4">
								<input type="text" class="validate[required]"
									data-prompt-position="topLeft"
									ng-model="funcionario.credencial.login" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Senha</label>
							<div class="col-lg-4">
								<input type="password" class="validate[required]"
									data-prompt-position="topLeft"
									ng-model="funcionario.credencial.senha" />
							</div>
						</div>
						<app-actions resource="/erp/funcionario/:paramId"
							value="funcionario"></app-actions>
					</div>
				</form>
				<funcionario-table funcionario="funcionario" />
			</div>
		</div>
	</div>
</div>