<!-- find me in partials/data_tables_custom -->
<div class="row">
	<div class="col-md-12">
		<div class="box-header">
			<span class="title">Menus</span>
		</div>
		<div class="box-content">
			<div class="box">
				<div id="men_men" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title">Menus</h4>
							</div>
							<div class="modal-body nopadding">
								<menu-table menu="menu.menu" />
							</div>
						</div>
					</div>
				</div>
				<form class="form-horizontal fill-up validatable">
					<div class="padded">
						<div class="form-group">
							<label class="control-label col-lg-2">Menu</label>
							<div class="col-lg-10">
								<a modal-shower modal-id="men_men" class="btn btn-green">Menu pai:
								</a> <span class="alert alert-info"
									ng-show="menu.menu">{{menu.menu.id}}
									- {{menu.menu.nome}}</span>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">Nome</label>
							<div class="col-lg-10">
								<input type="text" class="validate[required]"
									data-prompt-position="topLeft" ng-model="menu.nome" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">URL</label>
							<div class="col-lg-10">
								<input type="text" class="validate[required]" data-prompt-position="topLeft"
									ng-model="menu.url" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2">&Iacute;cone</label>
							<div class="col-lg-10">
								<input type="text" class="validate[required]" data-prompt-position="topLeft"
									ng-model="menu.icone" />
							</div>
						</div>
						<app-actions resource="/erp/menu/:paramId"
							value="menu"></app-actions>
					</div>
				</form>
				<menu-table menu="menu" />
			</div>
		</div>
	</div>
</div>