erp-view/.settings/
erp-parent/.settings/org.eclipse.core.resources.prefs
erp-model/.settings/
erp-infra/.settings/org.eclipse.jdt.core.prefs
erp-parent/artifact/erp.ldb
erp-infra/.project
erp-infra/.settings/org.eclipse.wst.common.component
erp-infra/.settings/org.eclipse.wst.common.project.facet.core.xml
