<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<http pattern="/resources/stylesheets/**" security="none" />
	<http pattern="/favicon.ico**" security="none" />
	<http pattern="/resources/images/**" security="none" />
	<http pattern="/resources/fonts/**" security="none" />
	<http pattern="/resources/data/**" security="none" />
	<http pattern="/resources/components/**" security="none" />
	<http pattern="/resources/javascripts/**" security="none" />
	<http pattern="/loginForm.html*" security="none" />
	<bean:bean id="openTransactionInView"
		class="br.com.fabriciocs.erp.view.config.web.filter.OpenTransactionInView" />
	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
		<form-login password-parameter="password" login-page="/loginForm.html"
			username-parameter="username" default-target-url="/resources/pages/erp/index.html" />
		<logout logout-url="/logout"/>
		<custom-filter ref="openTransactionInView" before="FIRST" />
	</http>
	<authentication-manager>
		<authentication-provider user-service-ref='myUserDetailsImpl'>
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

</bean:beans>