
		<div class="box">
			<div class="box-header">
				<span class="title">Empresas</span>
			</div>
			<div class="box-content">
				<table ng-table="tableParams"
					template-pagination="custom/pager"
					class="dTable responsive dataTable">
					<thead>
						<tr>
							<th colspan="5">
								<div class="table-header">
									<div id="DataTables_Table_0_length" class="dataTables_length">
										<label>Mostrar
											<div class="selector fixedWidth">
												<span style="-webkit-user-select: none;">{{pageSize}}</span>
												<select size="1" name="DataTables_Table_0_length"
													ng-model="pageSize" ng-options="n for n in pageTemplate"
													ng-change="tableParams.count(pageSize)">
												</select>
											</div> Empresas
										</label>
									</div>
								</div>
							</th>
						</tr>
						<tr>
							<th class="sortable"
								ng-class="{
                    'sort-asc': tableParams.isSortBy('cnpjCei', 'asc'),
                    'sort-desc': tableParams.isSortBy('cnpjCei', 'desc')
                  }"
								ng-click="tableParams.sorting({'name' : tableParams.isSortBy('cnpjCei', 'asc') && 'desc' || 'asc'})">
								<div>
									<i class="glyphicon glyphicon-user"></i> CNPJ/CEI
								</div>
							</th>
							<th class="text-center">Raz&atilde;o Social</th>
							<th class="text-center">Nome Fantasia</th>
							<th class="text-center">Inscri&ccedil;&atilde;o Estadual</th>
							<th class="text-center">A&ccedil;&otilde;es</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="empresa in $data"
							ng-class="$index%2==0 && 'odd' || 'even'">
							<td data-title="'CNPJ/CEI'">{{empresa.cnpjCei}}</td>
							<td data-title="'Raz&atilde;o Social'">{{empresa.razaoSocial}}</td>
							<td data-title="'Nome Fantasia'">{{empresa.nomeFantasia}}</td>
							<td data-title="'Inscri&ccedil;&atilde;o Estadual'">{{empresa.inscricaoEstadual}}</td>
							<!-- 						<td data-title="''"><a class="btn btn-lg btn-default icon-pencil" ng-href="#/empresa/{{empresa.cnpjCei}}"></a></td> -->
							<td data-title="''"><div class="btn-group">
									<button class="btn btn-xs btn-default dropdown-toggle"
										data-toggle="dropdown">
										<i class="icon-cog"></i>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#/empresa/1/{{empresa.cnpjCei}}">Visualizar</a></li>
										<li><a href="#/empresa/2/{{empresa.cnpjCei}}">Editar</a></li>
										<li><a href="#/empresa/3/{{empresa.cnpjCei}}">Excluir</a></li>
									</ul>
								</div></td>
						</tr>
					</tbody>
				</table>
				<!-- type="text/ng-template" id="custom/pager" -->
				<script type="text/ng-template" id="custom/pager">
				<div class="table-footer">
					<div class="dataTables_info" id="DataTables_Table_0_info">{{params.count() > params.total() && params.total() || params.count()}} de {{params.total()}}</div>
					<div class="dataTables_paginate paging_full_numbers"
						id="DataTables_Table_0_paginate">
						<a tabindex="0" 
							class="first paginate_button"
							ng-click="params.page(1)"
							ng-class="{'paginate_button_disabled': params.page() <= 1}"
							id="DataTables_Table_0_first">First</a>
						<a tabindex="0"
							class="previous paginate_button" ng-click="params.page(params.page() - 1)"
							ng-class="{'paginate_button_disabled': params.page() <= 1}"
							id="DataTables_Table_0_previous">Previous</a>
						<span ng-repeat="i in [1,params.pageCount] |makeRange">
							<a type="button" ng-class="{'paginate_active':i == params.page()}"  
										ng-click="params.page(i)" class="paginate_button">{{i}}</a>
						</span>
							<a tabindex="0" ng-class="{'paginate_button_disabled': params.page() >=  params.pageCount}" ng-click="params.page(params.page() + 1)"
								class="next paginate_button" id="DataTables_Table_0_next">Next</a>
							<a
							tabindex="0" class="last paginate_button" ng-class="{'paginate_button_disabled':params.page() >=  params.pageCount}" ng-click="params.page(params.pageCount)"
							id="DataTables_Table_0_last">Last</a>
						
					</div>
				</div>
			</script>

			</div>
		</div>
	