          <div class="row">
          	<div class="col-md-12">

          		<div class="box">
          			<div class="box-header">
          				<span class="title"><i class="icon-warning-sign"></i>Cliente</span>
          			</div>

          			<div class="box-content">


          				<form class="form-horizontal fill-up validatable" ng-submit="save()">

          					<div class="padded">
          						<div class="form-group">
          							<label class="control-label col-lg-2">Nome</label>
          							<div class="col-lg-10">
          								<input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="client.name"/>
          							</div>
          						</div>
          						<div class="form-group">
          							<label class="control-label col-lg-2">Email</label>
          							<div class="col-lg-10">
          								<input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="client.email"/>
          							</div>
          						</div>

          						<div class="form-group">
          							<label class="control-label col-lg-2">Addresses</label>
          							<div class="col-lg-10">
                          <button class="btn btn-blue"  data-dismiss="modal" type="submit" ng-click="initAddresses()">Adicionar Endere&ccedil;o</button>
                          <div class="accordion" id="accordion2" ng-show="client.addresses.length > 0">
                           <div class="accordion-group" ng-repeat="address in client.addresses">
                            <div class="accordion-heading">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" ng-href="#{{address.id}}">
                              {{address.id}} - {{address.description}}
                            </a>
                          </div>
                          <div id="{{address.id}}" class="accordion-body collapse" ng-class="{'in' : ($index==0)}">
                           <form class="form-horizontal fill-up separate-sections">
                            <div class="padded">
                             <div class="form-group">
                              <label class="control-label col-lg-2">ID</label>
                              <div class="col-lg-10">
                               <input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="address.id"/>
                             </div>
                           </div>
                           <div class="form-group">
                            <label class="control-label col-lg-2">Descricao</label>
                            <div class="col-lg-10">
                             <input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="address.description"/>
                           </div>
                         </div>
                         <div class="form-group">
                          <label class="control-label col-lg-2">Rua</label>
                          <div class="col-lg-10">
                           <input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="address.street"/>
                         </div>
                       </div>
                       <div class="form-group">
                        <label class="control-label col-lg-2">CEP</label>
                        <div class="col-lg-10">
                         <input type="text" class="validate[required]" data-prompt-position="topLeft" ng-model="address.cep"/>
                       </div>
                     </div>
                   </div>
                   <div class="modal-footer">
                     <button class="btn btn-default" data-dismiss="modal" type="submit" ng-click="removeAddress(address)">Remover</button>
                     <button class="btn btn-blue"  data-dismiss="modal" type="submit" ng-click="saveAddress(address)">Save changes</button>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="form-group">
         <label class="control-label col-lg-2">Username</label>
         <div class="col-lg-10">
          <input type="text" class="validate[required]" data-prompt-position="topLeft"/>
        </div>
      </div>

      <div class="form-group">
       <label class="control-label col-lg-2">Password</label>
       <div class="col-lg-10">
        <input type="password" id="password" class="validate[required,minSize[4]]">
        <span class="help-block note"><i class="icon-warning-sign"></i> Please use a secure password.</span>
      </div>
    </div>

    <div class="form-group">
     <label class="control-label col-lg-2">Confirmation</label>
     <div class="col-lg-10">
      <input type="password" id="password_confirmation" class="validate[required,equals[password],minSize[4]]"/>
    </div>
  </div>

</div>

<div class="form-actions">
  <button type="submit" class="btn btn-blue">Save changes</button>
  <button type="button" class="btn btn-default">Cancel</button>
</div>

</form>
</div>
</div>

</div>
</div>